* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
}

body {
	color: #a7dbc4;
	background-color: #383e56;
}

.header .header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #2b3044;
	color: #a7dbc4;
	padding: 2rem;
	text-transform: uppercase;
	font-weight: 200;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 1.5rem;
}

.sign_up {
	text-align: center;
}

.top_line {
	width: 100%;
	border-top: 0.313rem solid #fb743e;
	margin-bottom: .3rem;
}

.bottom_line {
	width: 100%;
	border-top: 0.188rem solid #f4946e;
	margin-bottom: 2.5rem;
}

section h2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: 800;
}

.sign_up p {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	color: #a7dbc4;
}

fieldset {
	border: 0;
}

::placeholder {
	font-family: 'Merriweather', serif;
	font-size: 1.2rem;
	font-weight: 400;
	font-style: italic;
	text-align: right;
}

legend {
	font-weight: 800;
	font-size: 1.8rem;
}

.section_1 label {
	display: block;
	margin-top: 1.5rem;
	font-size: 1.3rem;
	color: #a7dbc4;
}

.section_1 input {
	display: block;
	width: 100%;
	font-size: 18px;
	padding: 1.25rem;
	color: #a7dbc4;
	background-color: #32374d;
	border: none;
	border-radius: .4rem;
	margin-top: 15px;
	transition: .5s ease-in-out;
}

.section_2 label {
	display: block;
	margin-top: 1.5rem;
	font-size: 1.3rem;
	color: #a7dbc4;
	margin-bottom: 1.875rem;
}

.section_2 input {
	margin-right: 10px;
}

select {
	display: block;
	width: 100%;
	font-size: 18px;
	padding: 1.25rem;
	font-family: 'Merriweather', serif;
	color: #a7dbc4;
	background-color: #32374d;
	border: none;
	border-radius: .4rem;
	margin-top: 15px;
	transition: .5s ease-in-out;
}

.last_line {
	width: 100%;
	border-top: 0.189rem solid #fb743e;
	margin: 2.5rem 0 1.5rem 0;
}

.newsletter {
	margin-top: 0.938rem;
	font-size: 1.5rem;
	color: #a7dbc4;
}

#zip {
	display: block;
	width: 50%;
	font-size: 18px;
	padding: 1.25rem;
	color: #a7dbc4;
	background-color: #32374d;
	border: none;
	border-radius: .4rem;
	margin-top: 15px;
	transition: .5s ease-in-out;
}

input:focus,
textarea:focus,
select:focus,
#zip:focus {
	outline: 3px solid #f4946e;
	background-color: #3d404e;
}

input:hover,
textarea:hover,
select:hover {
	Cursor: pointer;
}

textarea {
	display: block;
	border: none;
	width: 100%;
	height: 7.5rem;
	margin: 5px 0;
	padding: 8px;
	border-radius: .4rem;
	font-size: 18px;
	color: #a7dbc4;
	background-color: #32374d;
	transition: .5s ease-in-out;
}

button {
	display: block;
	width: 100%;
	font-size: 1.7rem;
	font-weight: 600;
	padding: 1.7rem;
	color: #fff;
	background-color: #fb743e;
	border: none;
	border-radius: .4rem;
	margin-top: 40px;
	margin-bottom: 30px;
}

footer {
	display: flex;
	margin: .8rem 0 2rem 0;
	font-size: 1.5rem;
	color: #a7dbc4;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 800px;
		margin: 0 auto;
		padding: 1.5rem;
	}

	form .contact-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: .8rem;
	}

	form .zip-container {
		display: flex;
		justify-content: start;
	}

	.section_1 label {
		width: 40%;
	}

	.zip-container label {
		width: 28%;
	}

	.zip-container {
		margin-top: .8rem;
	}

	#zip {
		width: 25%;
		transition: .5s ease-in-out;
	}
}
